#container{
	width: 500px;
	margin: 0 auto;
}

#header{
	background-color: red;
	margin: 0 0 20px;
}
#main{
	background-color: blue;
	overflow: hidden;
	margin: 50px 0 0;
}
#footer{
	background-color: green;
}

#left{
	background-color: pink;
	float: left;
	width: 100px;
}
#center{
	background-color: orange;
	float: left;
	width: 280px;
	margin-left: 10px;
	margin-right:  10px;
}
#right{
	background-color: purple;
	float: left;
	width: 100px;
}

